[Unit]
Description="/etc/rc.local Compatibility" 
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/etc/rc.local start

[Install]
WantedBy=multi-user.target
